menu {
    display: flex;
    justify-content: space-between;
    height: 72px;
    padding: 16px 52px;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    background: #10BBD5;
    display: flex;
    margin: 0 auto;
}

.head-list {
    display: flex;
    justify-content: space-between;  
}

.logo {
    margin-left: -20px;
}

.cart {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.cart_icon {
    margin-top: -10px;
}

.nav-text {
    display: flex;
    width: 100%;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.menu-content {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding: 4px 52px;
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

main {
    background: var(--beige, #EEEEEF);
    padding-left: 52px;
    padding-right: 52px;
}

.directory {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;
    align-items: flex-start;
    width: 1450px;
    align-items: center;
    margin-top: -23px;
}

.box {
    margin-bottom: 20px;
}

h1 {
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

.rectangle {
    width: 1450px;
    height: 1px;
    flex-shrink: 0;
    background: #A8A8A8;
}

.image-1 {
    border-radius: 4px;
    background: var(--eggplant, #4C394E);
    display: flex;
    width: 178px;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-left: 35px;
    margin-top: 16px;
    margin-bottom: 16px;
}

h2 {
    display: flex;
    width: 242px;
    height: 31px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--black, #1F1F1F);
    text-overflow: ellipsis;
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

p {
    display: flex;
    width: 241px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--gray, #8E8E8E);
    text-overflow: ellipsis;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.price {
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 16px;
}

.price-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.price-comment {
    color: var(--gray, #8E8E8E);
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    list-style: none;
    margin-top: 10px;
}

button {
    display: flex;
    padding: 8px 80px;
    width: 100% 242px;
    height: auto 40px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: var(--eggplant, #4C394E);
}

.box {
    display: flex;
    justify-content: center;
    border: 1px solid #DADADA;
    border-radius: 10px;
    background: #FDFDFD;
    width: 306px;
    height: 512px;
    flex-shrink: 0;
}

.btn {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.price-1 {
    display: flex;
    color: var(--white, #F8FDFE);
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100% 242px;
    height: auto 40px;
}

.button-2:hover {
    background: #4D762D;
}

.button-2 {
    color: var(--white, #F8FDFE);
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
}

.sticky-element {
    display: flex;
    justify-content: right;
    position: sticky;
    top: bottom;
}

.chat {
    display: flex;
    background-color: #10BBD5;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    z-index: 20px;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 72px;
    padding: 16px 52px;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    background: var(--eggplant, #4C394E);
    display: flex;
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: var(--white, #F8FDFE);
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
